
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body class="container">
  	<div class="row">
  		<div class="col-12 text-center">
  			<div class="page-header text-primary">
  				<br>
			    <h1>REKAP HARIAN</h1>
			    <h5><%= DateTime.now.to_s %></h2>  
			    <br>    
			</div>
  		</div>

  		<% Store.where(store_type: "retail").each do |store| %>
		    <% trx = @transactions.where(store: store).order("created_at DESC").limit(1).first %>
		    <% trx_last_timestamp = "Tidak ada transaksi" %>
		    <% trx_last_timestamp = trx.created_at if trx.present? %>
		    <div class="col-12">
		    	<h3>
			       <%= store.name.upcase %> ( <%= trx_last_timestamp %> )
			    </h3>
			    <table class="table" style="width: auto">
			    	<tr>
				        <th scope="col"> Kasir </th>
				        <th scope="col"> Tunai </th>
				        <th scope="col"> Debit / Kredit </th>
				        <th scope="col"> Total </th>
				        <th scope="col"> Profit </th>
				    </tr>
				    <% @cashiers.uniq.each do |cashier_id| %>
				    	<% cashier = User.find_by(id: cashier_id) %>
				        <% next if cashier.store != store %>
				        <tr>
				          <td> <%= cashier.name %>
				          <% cash = @transactions.where(payment_type: "CASH", user: cashier).sum(:grand_total) %>
				          <td> <%= number_with_delimiter( cash.to_i, delimiter: ".", separator: ",") %>
				          <% debit = @transactions.where(payment_type: "DEBIT", user: cashier).sum(:grand_total) %>
				          <td> <%= number_with_delimiter( debit.to_i, delimiter: ".", separator: ",") %>
				          <td> <%= number_with_delimiter( (debit+cash).to_i, delimiter: ".", separator: ",") %>
				          <% hpp_total = @transactions.where(user: cashier).sum(:hpp_total) %>
				          <td> <%= number_with_delimiter( (debit+cash-hpp_total).to_i, delimiter: ".", separator: ",") %>
				        </tr>
				    <% end %>
				    <tr>
				    	<td></td>
				    	<% cash_total = @transactions.where(store: store).where(payment_type: "CASH").sum(:grand_total) %>
				        <% debit_total = @transactions.where(store: store).where(payment_type: "DEBIT",).sum(:grand_total) %>
				        <% grand_total = @transactions.where(store: store).sum(:grand_total) %>
	        			<% hpp_total = @transactions.where(store: store).sum(:hpp_total) %>
	        			<td> <%= number_with_delimiter( (cash_total).to_i, delimiter: ".", separator: ",") %>
				        <td> <%= number_with_delimiter( (debit_total).to_i, delimiter: ".", separator: ",") %>
				        <td> <%= number_with_delimiter( (grand_total).to_i, delimiter: ".", separator: ",") %>
				        <td> <%= number_with_delimiter( (grand_total-hpp_total).to_i, delimiter: ".", separator: ",") %>
				    </tr>
			    </table>
			    <hr>
		    </div>
		<% end %>
  		<div class="col-12 text-center">
  			<hr>
  			<p>
  				CANTIK MART - 2019
  				<br>
  				<a href="cantikmart.com">www.cantikmart.com</a>
  			</p>
  		</div>
  	</div>
  </body>
</html>